:root {
    --bg-color: #F5F5F5;
    --primary-color: #E6B062;
    --secondary-color: #434C6D;
    --title-color: #3C3C3C;
    --texts-font: "Mulish", sans-serif;
    --title-font: "Lexend Mega", serif;
    --box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 25%);
}

/*geral*/
body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

/*login e signup*/
.container-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*login - caixa branca*/
.login-box {
    background-color: white;
    width: 540px;
    height: 450px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px rgb(0 0 0 / 25%);
}

/*titulos*/
h1 {
    font-family: var(--title-font);
    font-weight: 400;
    color: var(--title-color);
    margin-bottom: 24px;
    text-align: center;
}

/*login e signup*/
.text-form {
    font-size: 16px;
    padding: 10px;
    align-items: center;
    font-family: var(--texts-font);
    text-align: center;
}

/*login e signup*/
.inputs-login {
    text-align: left;
}

/*login e signup*/
.input-individualy {
    width: fit-content;
    margin-left: 30px;
}

/*login e signup*/
.input-individualy input {
    width: 435px;
    padding: 10px;
    margin-top: 8px;
    border-radius: 10px;
}

/*login e signup*/
.error-text {
    color: red;
    margin: 0;
}

/*login e signup*/
.button {
    background-color: var(--primary-color);
    border-radius: 100px;
    border: none;  
    width: 145px;
    padding: 8px;
    margin-top: 24px;
    cursor: pointer;
} 

.button:hover {
    background-color: #FFA829;
}

/*login e signup*/
p {
    font-family: var(--texts-font);
}

/*login e signup*/
a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/*signup - caixa branca*/
.signup-box {
    background-color: white;
    width: 540px;
    height: 540px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

/*INDEX*/
.header {
    background-color: white;
    padding: 10px 0;
    margin: 0;
    margin-bottom: 24px;
    width: 100%;
}

.header .container-index {
    max-width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.post-box {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
}

textarea {
    width: 98% ;
    height: 60%;
    border-radius: 10px;
    border: none;
    resize: none;
    padding: 10px;
    outline: 0;
}

textarea::placeholder {
    font-family: var(--texts-font);
    font-size: 16px;
    color: #BEBEBE;
}

.post-form {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: right;
    max-width: 720px;    
    padding: 10px;
    background-color: white;
}

.post-form input {
    background-color: var(--primary-color);
    border: none;
    border-radius: 100px;
    padding: 8px;
    width: 145px;
    font-family: var(--texts-font);
    cursor: pointer;
}

.post-form input:hover {
    background-color: #FFA829;
}