:root {
    --bg-color: #F5F5F5;
    --primary-color: #E6B062;
    --secondary-color: #434C6D;
    --title-color: #3C3C3C;
    --texts-font: "Mulish", sans-serif;
    --title-font: "Lexend Mega", serif;
}

body {
    
}